
body{
    background-image: url("https://i.redd.it/xp8ovrepkqz51.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.795);
    height: 100vh;
    width: 100vw;
}
header{
    display: flex;
    justify-content: last baseline;
    gap: 10px;
    height: 10%;
}
#principal{
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 8%;
    padding: 5%;
    border: 1px solid white;
    box-shadow: 1px 1px 5px white;
    width: 90%;
    height: 50%;
    background-color: rgb(22, 22, 22);
    border-radius: 20px;
}
section{
    height: 60%;
    width: 40%;
    border-radius: 5px;
    background-color: aliceblue;
}
input{
    color: black;
    border-radius: 5px;
    width: 90%;
    padding: 4%;
}